<style>
p {
  background-image: url(<%= asset_path 'marble.png' %>) ;
}
</style>

<!---- ---- -- ---->
<%= csrf_meta_tag %>

<p>

<%= image_tag "marble" %>

<b>Same server for both req & resp</b>
<input id="myInput" value="Chicago">type some text, then press Enter/Return
<div id="log">
</div>
<span id="spin"></span>
<script>
    var token = document.getElementsByName('csrf-token')[0].content;
    $.ajaxSetup({headers:{'X-CSRF-Token': token }});
    $("#myInput").on("keypress", function(e){
        if(e.which == 13){
            $("#log").append( "<i>You said</i>: "+ $("#myInput").val() +"<br>");
            $("#spin").addClass("spinner-border");
            <% flash[:notice] = "Your profile has been updated." %>
            $.post("/req",
                   { name: "Donald Duck", city: $("#myInput").val() },
                   function(data,status){
                       $("#spin").removeClass("spinner-border");
                       $("#log").append( "<i>Bot</i>: "+ data +"<br>"); 
                       }
                  );
        }
    });
</script>
<!---- ---- -- ---- -- ---- -- ---- -- ---- -- ---- -- ---- -- -->
<br><b>chapgpt</b>
<input id="myChat" value="Chicago">type some text, then press Enter/Return
<div id="chat">
</div>
<script>
    var token = document.getElementsByName('csrf-token')[0].content;
    $.ajaxSetup({headers:{'X-CSRF-Token': token }});
    $("#myChat").on("keypress", function(e){
        if(e.which == 13){
            $("#chat").append( "<i>You said</i>: "+ $("#myChat").val() +"<br>");
            $.post("/req",
                   { name: "Donald Duck", city: $("#myChat").val() },
                   function(data,status){
                       $("#chat").append( "<i>Bot</i>: "+ data +"<br>"); 
                       }
                  );
        }
    });
</script>

</p>
