<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Our Logo</a>
  <form class="form-inline">
    <button class="btn btn-outline-primary" type="button">Main button</button>
    <div style="padding-left: 10px;">
      <button class="btn btn-outline-success" type="button">Second button</button>
    </div>
  </form>
</nav>